body{
	background-color: #e0e0e0;
}

.hero-image{
	height: 75vh;
	width: 100%;
	background: url('circle.jpg');
	background-size: cover;
	background-position: center;
}

.perfil{
	background-color: #212121;
	width: 100%;
	height: 50vh;
	padding: 1px;
}

.coloreds{
	font-size: 2.5em;
	color: #fff;
	margin-top: 40px;
}

.colored{
	background-color: #b71c1c;
	width: 100%;
	height: 70vh;
	padding: 1px;
}

.pading-color{
	background-color: #fafafa;
	height: 80vh;
	width: 100%;
	padding: 1px;
}

.pading{
	font-weight: bold;
	font-size: 2em;
	color: #fff;
	text-align: center;
	margin-top: 70px;
}

.icon1{
	color: #004d40;
}

.icon2{
	color: #01579b;
}

.icon3{
	color: #b71c1c;
}

.botom{
	margin-top: 100px;
}

.pading-medium{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: #757575;
}

.name-user{
	font-size: 1.2em;
	font-weight: bold;
	color: #757575;
}

.email-user{
	font-size: 1.2em;
	font-weight: bold;
	color: #757575;
}

.registers{
	font-size: 1.5em;
	font-weight: bold;
	color: #757575;
}

.pedidos{
	font-size: 1.2em
	font-weight: bold;
	color: #757575;
}

.contador{
	font-size: 1.2em;
	font-weight: bold;
	color: #757575;
}

.big-write{
	font-size: 1.2em;
}

.foto{
	padding: 10px;
	text-align: center;
	color: #fff;
}

.pinck{
	width: 40%;
	height: 200px;
	background-color: #616161;
}

.pading-large{
	margin-top: 80px;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	color: #757575;
}

.mdl-layout-title{
	color: #fff;
}

.mdl-navigation__link{
	color: #fff;
}

.add{
	font-size: 3em;
	color: #424242;
}

.nav-wrapper{
	background-color: #1a237e;
}

.big-padding{
	font-size: 2em;
	text-align: center;
	color: #424242;
}

.icon-perfil{
	color: #757575;
}

.brand-logo{
	margin-left: 20px;
}

.update{
	font-size: 2.5em;
	color: #212121;
	font-weight: 500;
}

.me{
	margin-left: 10px;
}

.move-left{
	margin-left: 10px;
}